/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #3498DB;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.logo{
  width: 150px;
  margin-top: 40px; 
}

.smlogo{
  width: 210px;
  margin-top: 40px; 
}
/*
 * Cover
 */
.nomalNum{
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
 }
 .numS{
  font-size: 3em;
 }
.cover {
  padding: 10px 40px;
}
.lead{
  margin-top: -10px;
  font-size: 1.2em;
  font-weight: 150;
  text-align: left;
}
.subtitle{
  float: left;
  font-size: 1.2em;
  font-weight: 200;
}
.scan{
  margin: 20px auto;
  width: 80px;
}
.btnText{
  margin-top: -25px;
  font-size: 1em;
  font-weight: 100;
}
.mycover{
  object-fit: cover;
  height: 120px;
  width: 120px;
  border: 3px solid rgba(255,255,255,0.7);
  border-radius: 50%;
  margin-top: 10px;
}
.username{
  font-size: 1.5em;
  margin-top: 10px;
}
.Qborder{
  border: 2px dashed white;
  opacity: 70%;
  border-radius: 10px;
  margin-top: 25px;
}
.Qtext{
  margin: 20px;
  font-weight: 200;
  font-size: 1em;
}
.btnNext{
  margin-top:10%; 
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-color:rgba(0,0,0,0);
  border-radius: 50%;
}
.btnPrev{
  margin-top:10%; 
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background-color:rgba(0,0,0,0);
  border-radius: 50%;
}
.subtitle2{
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
}
.money{
  font-size: 1.8em;
}
.max{
  font-size:0.8em; 
  margin:15px -20px 0 0;
  text-align: left;
}
/*
 * Footer
 */

.mastfoot {
  font-weight: 100;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

